/* Basic configuration */


/* Evita que la imagen se salga de su contenedor  */

div>img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Cambia Imgen de fondo */

body {
    background-color: black;
    /* background-image: url("https://loadgalax.net/apps/sharingpath/LoadGalax/pexels-photo-1368382.jpeg"); */
}


/* configuracion basica Grid */

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header header header" "image-1 image-2 image-3" "contenido contenido download" "contenido contenido download-saves" "contenido contenido sidebar" "contenido contenido sidebar" "footer footer footer";
}


/* estilo contenedores */

.contenedor>div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    opacity: 0.7
}


/* configuracion transparencia contenedores */

.contenedor>div:hover,
.contenedor .header:hover,
.contenedor .contenido:hover,
.contenedor .sidebar:hover,
.contenedor .footer:hover,
.contenedor .download:hover,
.contenedor .download-saves:hover {
    opacity: 1
}

.contenedor .header {
    background: #12203E;
    color: #fff;
    grid-area: header;
}

.contenedor .contenido {
    grid-area: contenido;
}

.contenedor .sidebar {
    grid-column: 3 / 4;
    background: #5f5d5a;
    /* 	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center; */
    min-height: 100px;
    grid-area: sidebar;
}

.contenedor .download,
.contenedor .download-saves {
    grid-column: 3 / 4;
    background: rgb(78, 70, 70);
    text-align: top;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: download;
    opacity: 0.7
}

.contenedor .download-saves {
    grid-area: download-saves;
}

.contenedor .image-1,
.contenedor .image-2,
.contenedor .image-3 {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .image-1 {
    grid-area: image-1;
}

.contenedor .image-2 {
    grid-area: image-2;
}

.contenedor .image-3 {
    grid-area: image-3;
}

.contenedor .footer {
    background: #12203E;
    color: #fff;
    grid-area: footer;
}


/* confiuracion responsive */

@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas: "header header header" "download null download-saves" "contenido contenido contenido" "sidebar sidebar sidebar" "image-1 image-2 image-3" "footer footer footer";
    }
}


/* Configuracion botones */

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: rgb(0, 63, 251);
    transform: scale(1.5);
}

.backbtn {
    font-size: 500px;
}


/* Configuracion imagenes port */


/* .port:hover {
    transform: scale(.5);
    
} */

.info-box .info-item {
    /* 	Mueve los items a la izquierda */
    /*  vertical-align: left;
 list-style: none;
 padding: 10px;
 font-size: 25px; */
    /* Centra los items */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}


/* configuracion del video de fondo */

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


/* Configuracion Menu Principal */

.menu-list>.menu-item {
    display: inline-block;
    margin-left: 70px;
}

.menu-item>a {
    box-shadow: violet;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}


/* .menu-item a:hover {
    color: rgb(255, 0, 0);
} */

.menu-item a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
}

.show-game-image:hover {
    transform: scale(5.5);
}
