/* Basic configuration */


/* Evita que la imagen se salga de su contenedor  */

div>img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
}


/* Cambia Imgen de fondo */

body {
    /* background: rgb(121, 118, 96); */
    /* background-image: url("https://loadgalax.net/apps/sharingpath/LoadGalax/pexels-photo-1368382.jpeg"); */
    background: #03001e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdeff9, #aa2687, #7303c0, #03001e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #958a92, #aa2687, #7303c0, #03001e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, auto);
    grid-template-areas: "header header header" "image-1 image-2 image-3" "image-4 image-5 image-6" "image-7 image-8 image-9" "image-10 null null" "footer footer footer";
}

.contenedor>div,
.contenedor .header,
.contenedor .footer {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    background: #26475a;
    color: #fff;
    grid-area: header;
}

.contenedor .image-1,
.contenedor .image-2,
.contenedor .image-3,
.contenedor .image-4,
.contenedor .image-5,
.contenedor .image-6,
.contenedor .image-7,
.contenedor .image-8,
.contenedor .image-9,
.contenedor .image-10 {
    background: #55a8fd;
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0px 10px, rgba(0, 0, 0, 0.65) 0 0 10px 1px, inset rgba(255, 255, 255, 0.15) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 -1px 0;
}

.contenedor .image-1 {
    grid-area: image-1;
}

.contenedor .image-2 {
    grid-area: image-2;
}

.contenedor .image-3 {
    grid-area: image-3;
}

.contenedor .image-4 {
    grid-area: image-4;
}

.contenedor .image-5 {
    grid-area: image-5;
}

.contenedor .image-6 {
    grid-area: image-6;
}

.contenedor .image-7 {
    grid-area: image-7;
}

.contenedor .image-8 {
    grid-area: image-8;
}

.contenedor .image-9 {
    grid-area: image-9;
}

.contenedor .image-10 {
    grid-area: image-10;
}

.contenedor .footer {
    background: #12203E;
    color: #fff;
    grid-area: footer;
}


/* Style buttons */

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}


/* Darker background on mouse-over */

.btn:hover {
    background-color: RoyalBlue;
    transform: scale(1.5);
}

.port:hover {
    transform: scale(1.2);
    border: 2px solid rgb(245, 87, 87);
    z-index: 3000;
}


/* .link .image-1,
	  .image-2 {
	border: 5px solid rgb(255, 0, 0);
	height : auto;
	

} */


/* Configuracion  Link en imagen*/

.link .image-1,
.link .image-2,
.link .image-3,
.link .image-4,
.link .image-5,
.link .image-6,
.link .image-7,
.link .image-8,
.link .image-9,
.link .image-10 {
    border: 5px solid rgb(11, 102, 94);
    height: auto;
}


/* Configuracion Menu Principal */

.menu-list>.menu-item {
    display: inline-block;
    margin-left: 200px;
}

.menu-item>a {
    box-shadow: violet;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.menu-item a:hover {
    color: rgb(255, 0, 0);
}

.menu-item a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
}

@media screen and (max-width: 768px) {
    .menu-list>.menu-item {
        display: inline-block;
        margin-left: 80px;
    }
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header header" "image-1 image-2" "image-3 image-4" "image-5 image-6" "image-7 image-8" "iamge-9 image-10" "footer footer";
    }
}

@media screen and (max-width: 500px) {
    .menu-list>.menu-item {
        display: inline-block;
        margin-left: 50px;
    }
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "header" "image-1" "image-2" "image-3" "image-4" "image-5" "image-6" "image-7" "image-8" "image-9" "image-10" "footer";
    }
}