<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container p-4">
        <div class="row">
            <div class="col-md4">
                <div class="card">
                    <div class="card-body">
                        <h1>Edit : {{title}}</h1>
                        <form action="/update/{{id}}" method="POST" enctype="multipart/form-data">
                        
                            <hr>
                            <div class="from-group">
                                <input type="text" name="title" value="{{title}}" class="form-control">
                            </div>                           
                            <hr><hr>
                            <p>Media</p>
                            <div class="from-group">
                                <input type="text" name="root" value="{{root}}" class="form-control" readonly>
                            </div>
                            <hr>
                            <div class="from-group">
                                <input type="text" name="text1" value="{{text1}}" class="form-control">
                            </div>
                            <div class="from-group">
                                <input type="text" name="text2" value="{{text2}}" class="form-control">
                            </div>
                            <div class="from-group">
                                <input type="text" name="text3" value="{{text3}}" class="form-control">
                            </div>
                            <hr><hr>
                            <p>Specs</p>
                            <div class="from-group">
                                <input type="text" name="ram" value="{{ram}}" class="form-control">
                            </div>
                            <div class="from-group">
                                <input type="text" name="so" value="{{so}}" class="form-control">
                            </div>
                            <div class="from-group">
                                <input type="text" name="storage" value="{{storage}}" class="form-control">
                            </div>
                            <div class="from-group">
                                <input type="text" name="size" value="{{size}}" class="form-control">
                            </div>
                            <hr>
                             <hr>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block">
                                    Update
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
</div>


{{!--
<div class="jumbotron-mt-4"></div>
<h1 class="display-4">UPLOAD</h1>

<form action="/uploads" method="POST" enctype="multipart/form-data">
    <input class="btn btn-primary btn-lg" type="file" name="image">
    <hr class="my-4">
    <button class="btn btn-primary btn-lg" type="submit ">
        Upload
    </button>
</form>

--}}