<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="./css/stylesheet/index.css">
    <!-- 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <title>Layout de Sitio Web con CSS GRID</title>
</head>
<body>
<div class="container p-4">
         <header class="header">
        </header>
        {{paginationP page}}
    <div class="row g-4">
       {{#each GameId}}
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card port">
        <a href="/show-game/{{_id}}"> <img src="http://localhost:1115/game/{{root}}/images/cover.jpg" alt="ASD" class="card-img-top"></a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

                <footer class="footer">
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="?page={{paginationR page pageMaxLimit pageMinLimit}}">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
    <li class="page-item">
      <a class="page-link" href="?page={{paginationP page pageMaxLimit pageMinLimit}}">Next</a>
    </li>
  </ul>
</nav>
        </footer>
    
</body>

</html>