<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container p-4">
        <div class="row">
            <div class="col-md4">
                <div class="card">
                    <div class="card-body">
                        <h1>New Game</h1>
                        <form action="/New-Game-form" method="POST" enctype="multipart/form-data">
                        
                            <hr>
                            <div class="from-group">
                                <input type="text" name="title" placeholder="Title" class="form-control">
                            </div>                           
                            <hr><hr>
                            <p>Media</p>
                            <div class="from-group">
                                <input type="text" name="root" placeholder="Hollow-Knight" class="form-control">
                            </div>
{{!--                             <div class="from-group">
                                <input type="text" name="img1" placeholder="img1 Location" class="form-control">
                            </div>
                            <div class="from-group">
                                <input type="text" name="img2" placeholder="img2 Location" class="form-control">
                            </div>
                            <div class="from-group">
                                <input type="text" name="img3" placeholder="img3 Location" class="form-control">
                            </div>
                            <div class="from-group">
                                <input type="text" name="cover" placeholder="cover Location" class="form-control">
                            </div>
                            <div class="from-group">
                                <input type="text" name="video" placeholder="video Location" class="form-control">
                            </div> --}}
                            <hr>
                            <div class="from-group">
                                <input type="text" name="text1" placeholder="Text1" class="form-control">
                            </div>
                            <div class="from-group">
                                <input type="text" name="text2" placeholder="Text2" class="form-control">
                            </div>
                            <div class="from-group">
                                <input type="text" name="text3" placeholder="Text3" class="form-control">
                            </div>
                            <hr><hr>
                            <p>Specs</p>
                            <div class="from-group">
                                <input type="text" name="ram" placeholder="Ram" class="form-control">
                            </div>
                            <div class="from-group">
                                <input type="text" name="so" placeholder="So" class="form-control">
                            </div>
                            <div class="from-group">
                                <input type="text" name="storage" placeholder="Storage" class="form-control">
                            </div>
                            <div class="from-group">
                                <input type="text" name="size" placeholder="Size" class="form-control">
                            </div>
                            <hr>
                             <hr>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block">
                                    Upload
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
</div>


{{!--
<div class="jumbotron-mt-4"></div>
<h1 class="display-4">UPLOAD</h1>

<form action="/uploads" method="POST" enctype="multipart/form-data">
    <input class="btn btn-primary btn-lg" type="file" name="image">
    <hr class="my-4">
    <button class="btn btn-primary btn-lg" type="submit ">
        Upload
    </button>
</form>

--}}