<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/stylesheet/info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    
    <video id="background-video" autoplay loop muted>


<source src="http://localhost:1115/game/{{root}}/video/t1.mp4" type="video/mp4">

	</video>

    <div class="contenedor" >
        <header class="header">

      <h1>{{title}}</h1>

        </header>
        <main class="contenido">
            <h2>Description</h2>
            <p><br>
                {{text1}}
                <br><br>
                {{text2}}
                <br><br>
                {{text3}}

            </p>
        </main>
        <aside class="sidebar">
            <ul class="info-box">
                <h5>Specs</h5>
                <br>
                <li class="info-item">So: {{so}}</li>
                <li class="info-item">RAM: {{ram}}</li>
                <li class="info-item">Storage: {{storage}}</li>
                <li class="info-item">File Size: {{size}}</li>
            </ul>
        </aside>
        <aside class="download">
            
            <button class="btn"><i class="fa fa-download"></i><a
                       href="/game/{{root}}/files/{{root}}.zip">Download</a></button> 

        </aside>

        <aside class="download-saves">
            <form action="/execute" method="POST" enctype="multipart/form-data">
            <button class="btn"><i class="fa fa-download"></i>WIP</button>

</form>
        </aside>


     <div class="image-1">
            <img src="http://localhost:1115/game/{{root}}/images/1.jpg" class="port show-game-image img-thumbnail bg-dark">
        </div> 
   
        <div class="image-2">
            <img src="http://localhost:1115/game/{{root}}/images/2.jpg" class="port show-game-image img-thumbnail bg-dark">
        </div>

        <div class="image-3">
            <img src="http://localhost:1115/game/{{root}}/images/3.jpg" class="port show-game-image img-thumbnail bg-dark">
        </div>

        <footer class="footer">

        <a href="/delete/{{id}}"><button type="button" class="btn btn-primary" >Delete</button></a>
        <a href="/edit/{{id}}"><button type="button" class="btn btn-primary" >Edit</button></a>
        </footer>
    </div>
</body>

</html>
